.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 22px 14px;
  height: 100%;

  &__text {
    text-align: center;
  }

  &__error {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12.5rem;
    font-weight: 800;
    margin-bottom: 1.875rem;
    color: #111;

    @media (max-width: 520px) {
      font-size: 7.5rem;
    }

    span {
      color: #bbb;
    }
  }
}