@import "~bootstrap/scss/bootstrap";
@import './create';
@import './calleds';
@import './show';

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.nav-menu {
  @media (max-width: 480px) {
    flex-direction: column;

    .navbar-brand {
      margin: 0;
    }
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;

    @media (max-width: 480px) {
      flex-direction: column;
      text-align: center;
    }

    .nav-item {
      padding: 0 12px;

      @media (max-width: 480px) {
        padding: 0;
      }

      &:hover {
        font-weight: 600;
      }
    }
  }
}